<!DOCTYPE html>
<html>
  <head>
    <title>Health</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  </head>

  <body>
  <header>
  <div class='top-page-header'>
</div>
  </div>
  <div class='nav'>
  
    <ul class='lists-left'>
      <li> <%= link_to 'Health', root_path, class: "health-class" %></li>
      <li><%= link_to '体重登録', new_user_info_path, class: "weight" %></li>
      <li><%= link_to 'BMI', user_infos_bmi_path, class: "BMI" %></li>
    </ul>
    <ul class='lists-right'>
    <li><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'guest' %></li>
    <% if user_signed_in? %>
      <li><%= link_to current_user.nickname, "ゲスト", class: "user-nickname"%></li>
      <li><%= link_to 'ログアウト',destroy_user_session_path , method: :delete, class: "logout"  %> </li>
      <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
       <% end %>
    </ul>
  </div>
</header>
<div class="contents">
      <div class="first-view"> 
      </div>
      
    <%= yield %>
    <footer>
      <p>
        Copyright©︎ TAKUYA MIYAMA.  ALL Rights Reserved.
      </p>
    </footer>
  </body>
</html>
